<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDBFilename=D:\Repos\Database\RemoteTimerDatabase.mdf;
         Integrated security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="TodayGridSortColumn" value="2"/>
    <add key="SummaryGridSortColumn" value="1"/>
    <add key="TollInSeconds" value="28800"/>
  </appSettings>
</configuration>